<section class="postbody">
  <% if user_signed_in? && current_user.isadmin == true %>
    <div class="admin_panel">
      <div class="all_links">
        <%= link_to 'Главная', userview_path, class: "chosen" %>
        <%= link_to 'Посты', posts_path %>
        <%= link_to 'Подборки'%>
        <%= link_to 'Пользователи', users_path%>
      </div>
    </div>
    <% else %>
    <div class="user_panel">
      <div class="all_links">
        <%= link_to 'Главная', userview_path, class: "chosen" %>
        <%= link_to 'Избранное'%>
        <%= link_to 'Подборки'%>
        <%= link_to 'История'%>
      </div>
    </div>
  <% end %>

  <div class="user_posts">

    <div class="head_user">
      <h2>Сказка дня</h2>
      <div class="search">
        <%= form_tag posts_path, :method => 'get' do %>
            <%= text_field_tag :starts_with, params[:starts_with], placeholder: "Поиск"  %>
            <%= submit_tag "", :name => nil %>
        <% end %>
      </div>
    </div>

    <% @posts.take(1).each do |post| %>
    <div class="post_of_the_day">
      <div class="titles">
        <div class="name_u"><%= link_to post.name, post %></div>
        <div class="nation_u"><%= post.title %></div>
      </div>
    </div>
    <% end %>

    <div class="head_r">
      <h2>Топ в вашем регионе</h2>
      <p>Больше ></p>
    </div>
    <div class="region_top">
    <% @posts.each do |post| %>
      <div class="skaz">
        <div class="titles">
          <div class="name_u"><%= link_to post.name, post %></div>
          <div class="nation_u"><%= post.title %></div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="head_r">
      <h2>Топ в других регионах</h2>
      <p>Больше ></p>
    </div>
    <div class="region_top">
    <% @posts.each do |post| %>
      <div class="skaz">
        <div class="titles">
          <div class="name_u"><%= link_to post.name, post %></div>
          <div class="nation_u"><%= post.title %></div>
        </div>
      </div>
    <% end %>
    </div>
  </div>

</section>
