<section class="fullpage">
  <div class="bckgr">
    <div class="left">
      <%= image_tag "bacgrleft.svg" %>
    </div>
    <div class="bckgrflvrs">
      <div class="leftflvr">
        <%= image_tag "flvrbgl.svg" %>
      </div>
      <div class="bacgrleafs">
        <div class="leftleaf">
          <%= image_tag "leafsleft.svg" %>
        </div>
        <div class="rightleaf">
          <%= image_tag "leafsright.svg" %>
        </div>
      </div>
      <div class="rightflvr">
        <%= image_tag "flvrbgr.svg" %>
      </div>
    </div>
    <div class="right">
      <%= image_tag "bacgrright.svg" %>
    </div>
  </div>
  <section class="mainbody">
    <section class="taleoftheday">
      <div class="headname">
        <div class="frame">
          <div class="flvrs">
            <%= image_tag "flvr1.svg" %>
          </div>
          <h3>Сказка дня</h3>
          <div class="flvrs">
            <%= image_tag "flvr2.svg" %>
          </div>
        </div>
        <div class="title">
          <h1>Ласточка и комар</h1>
          <p>Удмуртская сказка</p>
          <%= image_tag "skazka.gif" %>
          <%= link_to 'Читать', post_path(5) %>
        </div>
      </div>
    </section>

    <section class="popular_tales">
      <div class="frame">
        <div class="flvrs">
          <%= image_tag "flvrssection1.svg" %>
        </div>
        <h3>Популярные сказки</h3>
        <div class="flvrs">
          <%= image_tag "flvrssection2.svg" %>
        </div>
      </div>
      <div class="populartales">
        <div class="slider">
          <%= image_tag "slideright.svg" %>
        </div>
        <%= react_component 'Popular_tales', posts: @posts %>
        <div class="slidel">
          <%= image_tag "slideleft.svg" %>
        </div>
      </div>
    </section>

    <section class="map">
      <div class="frame">
        <div class="flvrs">
          <%= image_tag "flvrsmapl.svg" %>
        </div>
        <h3>Карта</h3>
        <div class="flvrs">
          <%= image_tag "flvrsmapr.svg" %>
        </div>
      </div>
      <p>Выберите любой регион на&nbsp;карте и&nbsp;найдите сказки, населяющих его народов</p>
      <div class="mapimg"></div>
    </section>

    <section class="searchblock">
      <%= react_component 'O_Searchblock' %>
    </section>

    <section class="interesting_tales">
      <div class="frame">
        <div class="flvrs">
          <%= image_tag "flvrssection_r1.svg" %>
        </div>
        <h3>Может быть интересно</h3>
        <div class="flvrs">
          <%= image_tag "flvrssection_l1.svg" %>
        </div>
      </div>

      <div class="maybeinteresting">
        <div class="slider">
          <%= image_tag "slideright.svg" %>
        </div>
        <%= react_component 'O_Popular_tales', posts: @posts %>
        <div class="slidel">
          <%= image_tag "slideleft.svg" %>
        </div>
      </div>
    </section>

    <section class="region_tales">
      <div class="frame">
        <div class="flvrs">
          <%= image_tag "flvrssection_r1.svg" %>
        </div>
        <h3>Подборки по регионам</h3>
        <div class="flvrs">
          <%= image_tag "flvrssection_l1.svg" %>
        </div>
      </div>

      <div class="sliderset">
        <%= image_tag "slideright.svg" %>
      </div>
      <div class="set"><a href="404">
        <div class="descr">
          <h1>Татарские <br>сказки</h1>
          <p>Лучшие татарские сказки для&nbsp;детей и&nbsp;взрослых, которые могут как&nbsp;уму-разуму научить, так&nbsp;и&nbsp;просто позабавить</p>
          <div class="link">Читать</div>
        </div>
        <div class="spin">
          <div class="circle1">
            <%= image_tag "circle1.svg" %>
          </div>
          <div class="circle2">
            <%= image_tag "circle2.svg" %>
          </div>
          <div class="eyeball">
            <div class="eye">
              <div class="puppil"></div>
            </div>
          </div>
        </div>
      </a></div>
      <div class="slidelset">
        <%= image_tag "slideleft.svg" %>
      </div>
    </section>


    <section class="subscribtion">
      <%= react_component 'O_Subscribe', subscriber: @subscriber %>
    </section>
  </section>

</section>
