<section class="one">
  <div class="images">
    <div class="c1">
      <%= image_tag "character1_1.png" %>
    </div>
    <div class="quote1">
      <%= image_tag "quote1.svg" %>
    </div>
    <div class="quote2">
      <%= image_tag "quote2.svg" %>
    </div>
    <div class="c2">
      <%= image_tag "character2.png" %>
    </div>
  </div>
  <div class="descr">
    <h1>ЛАРЕЦ</h1>
    <h3>Интерактивный сборник народных сказок</h3>
  </div>
</section>
<section class="two">
  <div class="c_3">
      <%= image_tag "character3.png" %>
  </div>
  <div class="quote3">
    <%= image_tag "quote_3.svg" %>
  </div>
  <p class="larets">Ларец — это интерактивный сборник народных сказок, с помощью которого можно узнать больше о культуре населяющих Россию народов и сформировать свое представление о национальной идентичности.</p>
</section>
<section class="three">
  <header>
    <div class=""></div>
    <h4><%= link_to "О проекте", about_path %></h4>
  </header>
  <h2 class="subscribe">Не пропустите<br>запуск сервиса!</h2>
  <div class="main">
    <div class="quote4">
      <%= image_tag "quote4.svg" %>
    </div>
    <div class="quote4_a">
      <%= image_tag "quote4a.svg" %>
    </div>
    <%= render "subscribers/form" %>
  </div>
  <div class="down">
    <div class="icons">
      <%= image_tag "icon1.svg" %>
      <%= image_tag "icon2.svg" %>
      <%= image_tag "icon3.svg" %>
    </div>
    <div class="c_4">
        <%= image_tag "character4.png" %>
    </div>
  </div>
</section>
