<header>
  <div class="logo">
    <%= image_tag "logo.svg" %>
  </div>
  <div class="titles">
    <p>СТАЙЛГАЙД</p>
  </div>
</header>
<div class="menubar_n">
  <a href="#s1">O БРЕНДЕ</a>
  <a href="#s2">ЛОГОТИП</a>
  <a href="#s3">ЦВЕТА</a>
  <a href="#s4">ТИПОГРАФИКА</a>
  <a href="#s5">ОРНАМЕНТЫ</a>
  <a href="#s6">КОМПОЗИЦИЯ</a>
  <a href="#s7">СЕТКА</a>
  <a href="#s8">НОСИТЕЛИ</a>
</div>

<section class="cover">
  <div class="eyes-container">
    <div class="eye">
      <div class="ball"></div>
    </div>
    <div class="eye">
      <div class="ball"></div>
    </div>
  </div>

</section>

<section class="brand_about" id="s1">
  <div class="about_b">
    <div class="allinside">
      <div class="consept">
        <h2>КОНЦЕПЦИЯ</h2>
        <p>Наш бренд про&nbspпоиск себя и&nbsp;своей национальной идентичности — про&nbsp;ответ на&nbsp;вопрос «Кто я?» <br> <br>Кон — в&nbsp;переводе с&nbsp;цыганского местоимение «кто». В&nbsp;названии мы используем лексический повтор, часто встречающийся в&nbsp;сказках: кон-кон — кто-кто (Кто-кто в&nbsp;теремочке живет?)</p>
      </div>
      <div class="values">
        <h2>НАШИ ЦЕННОСТИ</h2>
        <div class="list">
          <li>Повышение видимости этнокультурных меньшинств</li>
          <li>Сохранение элементов национальной идентичности малых народов</li>
          <li>Быть внимательным к&nbsp;людям и&nbsp;их историям</li>
          <li>Уважение других культур</li>
          <li>Принятие людей с&nbsp;отличным от&nbsp;вас опытом</li>
        </div>
      </div>
    </div>
  </div>
  <div class="mission_b">
    <p>Мы верим,&nbsp;что повышение видимости малых народов может стать ключом к&nbsp;поиску и&nbspпринятию своей идентичности в&nbsp;глобальном обществе</p>
  </div>
  <div class="personality_b">
    <h2>ЛИЧНОСТЬ БРЕНДА</h2>
    <div class="prsnl">
      <%= image_tag "personality.svg" %>
    </div>
  </div>
</section>

<section class="logotip" id="s2">
  <div class="allinside_2">
    <div class="logotip_about">
      <h2>ОПИСАНИЕ ЛОГОТИПА</h2>
      <p>Логотип состоит из&nbsp;повторяющейся части текста и&nbsp;глаз, заменяющих букву «О», которые мы используем для&nbsp;оживления во&nbsp;всей системе айдентики.</p>
    </div>
    <div class="logotip_p">
      <h2>ЛОГОТИП</h2>
      <div class="p_img">
        <%= image_tag "logotip.svg" %>
      </div>
    </div>
    <div class="calculation">
      <h2>ПОСТРОЕНИЕ ЛОГОТИПА</h2>
      <div class="calc_img">
        <%= image_tag "calc_l.svg" %>
      </div>
    </div>
    <div class="reversed">
      <h2>ЦВЕТОВАЯ ИНВЕРСИЯ</h2>
      <div class="rev_img">
        <%= image_tag "rev.svg" %>
      </div>
    </div>
    <div class="monochrome">
      <h2>ЦВЕТОВАЯ ИНВЕРСИЯ</h2>
      <p>Используются, когда логотип небходимо сильно уменьшить.</p>
      <div class="chrome_img">
        <%= image_tag "chrome.svg" %>
      </div>
    </div>
    <div class="forbidden">
      <h2>НЕДОПУСТИМОЕ ИСПОЛЬЗОВАНИЕ</h2>
      <p>Мы никогда не используем красный цвет в&nbsp;логотипе в&nbsp;независимости от&nbsp;фона.</p>
      <div class="frb_img">
        <%= image_tag "frb.svg" %>
      </div>
    </div>
  </div>
</section>

<section class="colors" id="s3">
    <div class="full_set">
      <%= image_tag "colors.svg" %>
    </div>
    <div class="beads">
      <%= image_tag "beads.svg" %>
    </div>
    <div class="allinside_3">
      <div class="hex">
        <div class="c1">
          <div class="colourgroup">
            <h3>1. Мандарин</h3>
            <p>#DC6F3A</p>
          </div>
          <div class="colourgroup">
            <h3>2. Розовато-лиловый</h3>
            <p>#E594A9</p>
          </div>
          <div class="colourgroup">
            <h3>3. Куркума и мёд</h3>
            <p>#EFB852</p>
          </div>
          <div class="colourgroup">
            <h3>4. Сизый</h3>
            <p>#79A0C1</p>
          </div>
        </div>
        <div class="c2">
          <div class="colourgroup">
            <h3>5. Зеленый папоротник</h3>
            <p>#517D56</p>
          </div>
          <div class="colourgroup">
            <h3>6. Сосна</h3>
            <p>#003E33</p>
          </div>
          <div class="colourgroup">
            <h3>7. Шамбре</h3>
            <p>#2D517F</p>
          </div>
          <div class="colourgroup">
            <h3>8. Глициния</h3>
            <p>#C4A4DD</p>
          </div>
        </div>
      </div>
      <div class="rules">
        <h2>ПРАВИЛА РАБОТЫ С ОСНОВНЫМИ ЦВЕТАМИ</h2>
        <div class="colorset">
          <p>В&nbsp;своем стиле мы используем только три основных цвета. При&nbsp;создании материалов, связанных конкретно с&nbsp;материалами для&nbsp;бренда, используются данные цвета:</p>
          <div class="color_r">
            <%= image_tag "color_r.svg" %>
          </div>
        </div>
      </div>
      <div class="more">
        <h2>ДОПОЛНИТЕЛЬНЫЕ ЦВЕТА</h2>
        <p>При работе с&nbsp;материалами, связанными с&nbsp;конкретными народами, мы используем цвета из&nbsp;нашей расширенной палитры, которая была разработана на&nbsp;основе исследования самых распространенных цветов в&nbsp;орнаментах народов России.</p>
      </div>
      <div class="exmpl">
        <h2>ПРИМЕРЫ</h2>
        <div class="nations">
          <div class="c_1">
            <div class="r">
              <p>Татары</p>
              <div class="nation_img">
                <%= image_tag "tatar.svg" %>
              </div>
            </div>
            <div class="r">
              <p>Адыгейцы</p>
              <div class="nation_img">
                <%= image_tag "adyg.svg" %>
              </div>
            </div>
          </div>
          <div class="c_2">
            <div class="r">
              <p>Башкиры</p>
              <div class="nation_img">
                <%= image_tag "bashkir.svg" %>
              </div>
            </div>
            <div class="r">
              <p>Якуты</p>
              <div class="nation_img">
                <%= image_tag "yakut.svg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="fonts" id="s4">
  <div class="allinside_3">
    <div class="fonts_example">
      <h2>ВЫБОР ШРИФТОВ</h2>
      <div class="first_font">
        <p>В&nbsp;качестве основного наборного шрифта мы используем 20&nbsp;Kopeek. <br><br>Также данная гарнитура используется во&nbsp;всех интерфейсах сервиса.</p>
        <div class="kopeiki">
          <h1>20 Kopeek</h1>
          <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz <br><br>Аа Бб Вв Гг Дд Ее Ёё Жж Зз Ии  Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ьь Ээ Юю Яя <br><br>0 1 2 3 4 5 6 7 8 9 <br><br>“?”(%)“!”{&}[*]#;@:</p>
        </div>
      </div>
      <div class="second_font">
        <p>Для акциденции в&nbsp;плакатах и&nbsp;рекламных носителях используется Craftwork Grotesk.</p>
        <div class="crg">
          <h1>Craftwork Grotesk</h1>
          <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz <br><br>Аа Бб Вв Гг Дд Ее Ёё Жж Зз Ии  Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ьь Ээ Юю Яя <br><br>0 1 2 3 4 5 6 7 8 9 <br><br>“?”(%)“!”{&}[*]#;@:</p>
        </div>
      </div>
      <div class="third_font">
        <p>При&nbsp;наборе подписей и&nbsp;цифр мы&nbsp;применяем шрифт 21&nbsp;Cent.</p>
        <div class="cent">
          <h1>21 Cent</h1>
          <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz <br><br>Аа Бб Вв Гг Дд Ее Ёё Жж Зз Ии  Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ьь Ээ Юю Яя <br><br>0 1 2 3 4 5 6 7 8 9 <br><br>“?”(%)“!”{&}[*]#;@:</p>
        </div>
      </div>
    </div>
    <div class="head">
      <h2>ЗАГОЛОВОК</h2>
      <p class="h1">Интерактивный сборник<br>сказок народов России</p>
      <p>Размер: 3x <br>Line height: 100% </p>
    </div>
    <div class="midhead">
      <h2>ПОДЗАГОЛОВОК</h2>
      <p class="h2">Интерактивный сборник <br>сказок народов России</p>
      <p>Размер: 2x <br>Line height: 110% </p>
    </div>
    <div class="textm">
      <h2>НАБОРНЫЙ ТЕКСТ</h2>
      <p class="h2">Интерактивный сборник <br>сказок народов России</p>
      <p>Размер: x <br>Line height: 120% </p>
    </div>
    <div class="textrules">
      <h2>ДОПОЛНИТЕЛЬНЫЕ ПРАВИЛА</h2>
      <p>В&nbsp;макетах для&nbsp;веба используется только шрифт 20&nbsp;Kopeek. <br><br> Заголовки и&nbsp;подписи разделов в&nbsp;макетах всегда набираются прописными буквами.</p>
      <div class="exmpls">
        <div class="right">
          <p>КАК НУЖНО ДЕЛАТЬ</p>
          <p class="hh">ЗАГОЛОВОК</p>
        </div>
        <div class="wrong">
          <p>КАК НЕ НУЖНО ДЕЛАТЬ</p>
          <p class="hh">Заголовок</p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ornaments" id="s5">
 <div class="allinside_4">
   <div class="geometry">
     <h2>ГЕОМЕТРИЧЕСКИЕ</h2>
     <p>Это основные составляющие элементы горизонтальных орнаментов,&nbsp;которые используются для&nbsp;оформления рамок. Также могут быть самостоятельными композиционными элементами</p>
     <div class="g_img">
       <%= image_tag "geom.svg" %>
     </div>
   </div>
   <div class="national">
     <h2>РАСТИЕТЕЛЬНЫЕ И ЖИВОТНЫЕ</h2>
     <p>Элементы этой категории в&nbsp;основном используются в&nbsp;орнаментах с&nbsp;круговой симметрией или&nbsp;как&nbsp;самостоятельные декоративные элементы. <br><br>Взяты из&nbsp;национальных орнаментов и&nbsp;используются только в&nbsp;форматах, посвященных соответствющему народу </p>
     <div class="n_img">
       <%= image_tag "nat.svg" %>
     </div>
   </div>
   <div class="lents">
     <h2>ОКАНТОВКА</h2>
     <p>Эти элементы вдохновленны резьбой на&nbsp;наличниках в&nbsp;разных регионах России. Они представляют собой линейную композицию из&nbsp;геометрических и&nbsp;растительных орнаментов.  <br><br> Используются как&nbsp;в&nbsp;вебе, так&nbsp;и&nbsp;на&nbsp;физических носителях.</p>
     <div class="l_img">
       <%= image_tag "lents.svg" %>
     </div>
   </div>
 </div>
</section>

<section class="comp_logo" id="s6">
  <div class="allinside_5">
    <div class="fst">
      <div class="use">
        <h2>ИСПОЛЬЗОВАНИЕ ЛОГОТИПА</h2>
        <p>Логотип всегда располагается в&nbsp;левом верхнем углу, либо сверху по&nbsp;центру композиции и&nbsp;перемещен в&nbsp;другие углы быть не&nbsp;может.</p>
      </div>
      <div class="use_p">
        <%= image_tag "use_l.svg" %>
      </div>
    </div>
    <div class="scnd">
      <div class="use_m">
        <h2>ИСПОЛЬЗОВАНИЕ ОСНОВНОГО <br>ЭЛЕМЕНТА</h2>
        <p>При&nbsp;использовании основного элемента в&nbsp;виде глаз его всегда необходимо помещать в&nbsp;центр композиции.</p>
      </div>
      <div class="eyes_l">
        <%= image_tag "eyes_l.svg" %>
      </div>
    </div>
    <div class="thrd">
      <h2>ИСПОЛЬЗОВАНИЕ ОРНАМЕНТОВ</h2>
      <p>Орнаменты могут выступать как&nbsp;основными так&nbsp;и&nbsp;второстепенными элементами в&nbsp;стиле.</p>
      <div class="thrd_exmpls">
        <div class="asmain">
          <h2>КАК ОСНОВНЫЕ</h2>
          <p>На&nbsp;небольших носителях или&nbsp;же&nbsp;при&nbsp;использовании в&nbsp;композиции радиальной сетки. Также элементы могут собираться в&nbsp;декоративные рандомные композиции, демонстрируя разнообразие различных народов и&nbsp;культур на&nbsp;территории России.</p>
        </div>
        <div class="asother">
          <h2>КАК ВТОРОСТЕПЕННЫЕ</h2>
          <p>В&nbsp;рамках, собранных из&nbsp;различых элементов в&nbsp;макетах для&nbsp;веба или&nbsp;же&nbsp;в&nbsp;других подобных композициях.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="composition" id="s7">
  <div class="allinside_6">
    <div class="differs">
      <h2>РАЗНОВИДНОСТИ СЕТОК</h2>
      <p>Для&nbsp;нашей айдентики мы разработали гибкую систему сеток,&nbsp;которая используется для&nbsp;создания орнаментов и&nbsp;работы со&nbsp;всеми носителями и&nbsp;макетами.</p>
    </div>
    <div class="radial">
      <div class="all_r">
        <div class="r_s">
          <%= image_tag "rs.svg" %>
        </div>
        <div class="about_rs">
          <h2>РАДИАЛЬНАЯ СЕТКА</h2>
          <p>Данная сетка имеет 8&nbsp;осей,&nbsp;которые предназвачены для&nbsp;построение радиальной симметрии. <br><br>В&nbsp;месте пересечения осей всегда находится главный элемент в&nbsp;виде глаза. Далее по&nbsp;четырем основным осям выстраиваются самые главные и&nbsp;массивные элементы, которые дополняются другими деталями, расположенненными по&nbsp;осям между ними.</p>
        </div>
      </div>
    </div>
    <div class="radial_c">
      <h2>ПОСТРОЕНИЕ ОРНАМЕНТА</h2>
      <div class="rc">
        <%= image_tag "rc.svg" %>
      </div>
    </div>
    <div class="classic">
      <h2>КЛАССИЧЕСКАЯ СЕТКА</h2>
      <div class="params">
        <p>Для&nbsp;работы с&nbsp;макетами используется сетка, состоящая из&nbsp;12&nbsp;колонок.</p>
        <p class="scnd_c">При разрешении 1400px на&nbsp;900px <br>20px — gutter <br>60px — margin</p>
      </div>
      <div class="cl_c">
        <%= image_tag "cl_c.svg" %>
      </div>
    </div>
    <div class="double">
      <h2>НАЛОЖЕНИЕ СЕТОК</h2>
      <p>Данная сетка — это комбинация из&nbsp;классической сетки и&nbsp;радиальной, она используется для&nbsp;создания композиций с&nbsp;орнаментами в&nbsp;вебе.</p>
      <div class="double_c">
        <%= image_tag "double_c.svg" %>
      </div>
    </div>
    <div class="mobile">
      <h2>МОБИЛЬНАЯ СЕТКА</h2>
      <div class="mobile_c">
        <div class="clsc">
          <p>Для&nbsp;работы с&nbsp;макетами используется сетка, состоящая из&nbsp;12&nbsp;колонок.</p>
          <div class="m_c">
            <%= image_tag "m_c.svg" %>
          </div>
        </div>
        <div class="rdl">
          <p>При разрешении 390px  на 844px <br>20px — gutter <br>20px — margin</p>
          <div class="m_c1">
            <%= image_tag "m_c1.svg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="poster">
      <h2>СЕТКА ДЛЯ ПЛАКАТОВ</h2>
      <div class="poster_c">
        <div class="clsc">
           <p>Состоит из&nbsp;6&nbsp;колонок. Также есть вариация для&nbsp;создания плакатов с&nbsp;орнаменатами к&nbsp;тематическим мероприятиям, посвященным различным народам.</p>
          <div class="p_c">
            <%= image_tag "p_c.svg" %>
          </div>
        </div>
        <div class="rdl">
          <p>Соотношение сторон 1:√2 <br>20px — gutter <br>20px — margin</p>
          <div class="p_c1">
            <%= image_tag "p_c1.svg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="identity" id="s8">
  <div class="allinside_7">
    <h2>НОСИТЕЛИ</h2>
    <%= image_tag "id0.jpg" %>
    <%= image_tag "id.jpg" %>
    <%= image_tag "id1.jpg" %>
    <%= image_tag "id2.jpg" %>
    <%= image_tag "id3.jpg" %>
    <%= image_tag "id4.jpg" %>
    <%= image_tag "id6.jpg" %>
    <%= image_tag "id5.jpg" %>
  </div>
</section>
<footer>
  <%= image_tag "logo.svg" %>
</footer>

<script type="text/javascript">
  const sections = document.querySelectorAll("section");
const menuA = document.querySelectorAll(".menubar_n a");
window.onscroll = () => {
  var current = "";

  sections.forEach((section) => {
    const sectionTop = section.offsetTop;
    if (pageYOffset >= sectionTop - 60) {
      current = section.getAttribute("id"); }
  });

  menuA.forEach((a) => {
    a.classList.remove("open_now");
    if (a.classList.contains(current)) {
      a.classList.add("open_now");
    }
  });
};
  $(document).ready(function () {
    $('a').each(function() {
      $(this).on('click', function(e) {
        e.preventDefault();
        var scrollTo = $(this).attr('href');
        var whitespace = scrollTo == '' ? 10 : 0;
        $('html,body').animate({
          scrollTop: $(scrollTo).offset().top - whitespace
        }, 1000);
      });
    });
      var balls = document.getElementsByClassName('ball');
      document.onmousemove = function(){
        var x = event.clientX * 80 / window.innerWidth + '%';
        var y = event.clientY * 40 / window.innerHeight + '%';

        for(var i=0; i<2; i++){
          balls[i].style.left = x;
          balls[i].style.top = y;
          balls[i].style.transform = 'translate(-'+x+',(-'+y+' - 0px))';
        };
      };
});
</script>
