<section class="skazka">
  <h3>Здесь вы можете найти любое редкое слово, <br>которое встречалось вам в сказках</h3>

  <div class="serch_d">
    <div class="img1">
      <%= image_tag "flvrdr.svg" %>
    </div>
    <%= react_component 'Search' %>
    <div class="img2">
      <%= image_tag "flvrdl.svg" %>
    </div>
  </div>

  <div class="popularwords">
    <div class="frame">
      <div class="flvrr">
        <%= image_tag "dictionaryflvrr.svg" %>
      </div>
      <h3>Популярные слова</h3>
      <div class="flvrl">
        <%= image_tag "dictionaryflvrl.svg" %>
      </div>
    </div>
    <div class="worldlist">

      <div class="list1">
        <div class="wordcontainer">
          <h3>Атай</h3>
          <p>*Башкирский</p>
          <h5>Отец</h5>
        </div>
        <div class="wordcontainer">
          <h3>Жылуулук</h3>
          <p>*Киргизский</p>
          <h5>Тепло</h5>
        </div>
      </div>

      <div class="list2">
        <div class="wordcontainer">
          <h3>Алакан</h3>
          <p>*Киргизский</p>
          <h5>Ладони</h5>
        </div>
        <div class="wordcontainer">
          <h3>Кулуу</h3>
          <p>*Якутский</p>
          <h5>Смех</h5>
        </div>
      </div>

      <div class="list3">
        <div class="wordcontainer">
          <h3>Достык</h3>
          <p>*Казахский</p>
          <h5>Дружба</h5>
        </div>
        <div class="wordcontainer">
          <h3>Махаббат</h3>
          <p>*Казахский</p>
          <h5>Любовь</h5>
        </div>
      </div>

      <div class="list4">
        <div class="wordcontainer">
          <h3>Долгуйуу</h3>
          <p>*Якутский</p>
          <h5>Волнение</h5>
        </div>
        <div class="wordcontainer">
          <h3>Ты</h3>
          <p>*Удмурдский</p>
          <h5>Озеро</h5>
        </div>
      </div>
    </div>
  </div>
</section>
