<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="information">
  <div class="one_1">
    <div class="field">
      <%= form.label :name, "Название" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :author, "Автор" %>
      <%= form.text_field :author %>
    </div>

    <div class="field">
      <%= form.label :title, "Народ"%>
      <%= form.text_field :title %>
    </div>
  </div>
  <div class="two_2">

  </div>
</div>

  <div class="content">
    <%= form.label :content, "Текст" %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
