<section class="postbody">
  <% if user_signed_in? && current_user.isadmin == true %>
    <div class="admin_panel">
      <div class="all_links">
        <%= link_to 'Главная', userview_path %>
        <%= link_to 'Посты', posts_path, class: "chosen" %>
        <%= link_to 'Подборки'%>
        <%= link_to 'Пользователи', users_path%>
      </div>
    </div>
  <% end %>
  <div class="editpost">
    <div class="back">
      <%= link_to 'Назад', post_path %>
    </div>
    <div class="postform">
      <%= render 'form', post: @post %>
    </div>
  </div>

</section>
