<p id="notice"><%= notice %></p>

<div class="head">
  <h1>Сказки</h1>
  <% if user_signed_in? && current_user.isadmin == true %>
    <div class="link">
      <%= link_to 'Новый пост', new_post_path %>
    </div>
  <% end %>
</div>

<section class="postsection">
  <table>
    <thead>
      <tr>
        <th>Название</th>
        <th>Народность</th>
        <th>Автор</th>
        <th>Сказка</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.name %></td>
          <td><%= post.title %></td>
          <td><%= post.author %></td>
          <td><%= post.content.html_safe %></td>
          <td><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></td>
          <td><%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Commentes'%></td>
          <td><div class="open"><%= link_to 'Открыть', post %></div></td>
          <td>
            <% if user_signed_in? && current_user.isadmin == true %>
              <div class="edit"><%= link_to 'Редактировать', edit_post_path(post) %></div>
            <% end %>
          </td>
          <td>
            <% if user_signed_in? && current_user.isadmin == true %>
              <div class="delete"><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' } %></div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
