<p id="notice"><%= notice %></p>

<section class="postbody">
  <div class="postlinks">
    <div class="edition">
      <%= link_to 'Редактировать', edit_post_path(@post) %>
    </div>
    <div class="back">
      <%= link_to 'Назад', posts_path %>
    </div>
  </div>

  <div class="allcontent">

    <h3 class="name">
      <%= @post.name %>
    </h3>
    <!-- <h3>
     <%= @post.author %>
    </h3> -->
    <h3 class="title">
      <%= @post.title %>
    </h3>

    <div class="skazka">
      <%= @post.content.html_safe %>
    </div>
  </div>
</section>
<!-- 
<div class="comments">
  <h2>Comments</h2>
  <%= render @post.comments %>

  <h2>Add a comment:</h2>
  <%= render "comments/form" %>

</div> -->
