<section class="taleitself">
  <div class="bckgr">
    <div class="left">
      <%= image_tag "bacgrleft.svg" %>
    </div>
    <div class="bckgrflvrs">
      <div class="leftflvr">
        <%= image_tag "flvrbgl.svg" %>
      </div>
      <div class="bacgrleafs">
        <div class="leftleaf">
          <%= image_tag "leafsleft.svg" %>
        </div>
        <div class="rightleaf">
          <%= image_tag "leafsright.svg" %>
        </div>
      </div>
      <div class="rightflvr">
        <%= image_tag "flvrbgr.svg" %>
      </div>
    </div>
    <div class="right">
      <%= image_tag "bacgrright.svg" %>
    </div>
  </div>
  <section>
    <div class="postarch"></div>
    <div class="content">
      <%= react_component 'O_The_tale', post: @post %>
      <div class="else">
        <div class="favs">
           <% if user_signed_in? %>
            <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
              <% if pre_favorite %>
                  <%= button_to '', post_favorite_path(@post, pre_favorite), class: "dislike", method: :delete %>
              <% else %>
                  <%= button_to '', post_favorites_path(@post), method: :post %>
              <% end %>
          <% end %>
        </div>
        <div class="sharing"></div>
      </div>
    </div>
  </section>
</section>
