<p id="notice"><%= notice %></p>

<section class="postbody">
  <div class="postlinks">
    <% if user_signed_in? && current_user.isadmin == true %>
      <div class="edition">
        <%= link_to 'Редактировать', edit_post_path(@post) %>
      </div>
    <% end %>
    <div class="back">
      <%= link_to 'Назад', posts_path %>
    </div>
  </div>

  <div class="allcontent">

    <h3 class="name">
      <%= @post.name %>
    </h3>
    <!-- <h3>
     <%= @post.author %>
    </h3> -->
    <h3 class="title">
      <%= @post.title %>
    </h3>

    <div class="skazka">
      <%= @post.content.html_safe %>
    </div>
  </div>
</section>

<div class="favs">
  <% if user_signed_in? %>
  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>

  <% if pre_like %>
    <%= button_to ' Дизлайк ', post_like_path(@post, pre_like), method: :delete , :class =>"aaa"%>
  <% else %>
    <%= button_to post_likes_path(@post), method: :post do %>

      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg> -->
    <% end %>

  <% end %>
  <p class="likes_amount"><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? '' : ''%></p>

  <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
  <% if pre_favorite %>
      <%= button_to ' В избранном ', post_favorite_path(@post, pre_favorite), method: :delete %>
  <% else %>
      <%= button_to ' В избранное ', post_favorites_path(@post), method: :post %>
  <% end %>
  <% else %>
  <p class="likes_amount"><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Лайк' : 'Лайка'%></p>
  <% end %>

</div>

<div class="comments">
  <h2>Комментарии</h2>
  <%= render @post.comments %>

  <h2>Добавить комментарий:</h2>
  <% if user_signed_in? %>
  <%= render "comments/form" %>
  <% else %>
    <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register', new_user_registration_path %> to comment.</p>
  <% end %>
</div>
