<section class="wholemap">
  <p>Выберите любой народ <br>и&nbsp;путешествуйте по&nbsp;его сказочному миру</p>
  <div class="regs">
    <div class="uno">
      <div class="t">
        <%= image_tag "tta.svg" %>
        <p>Татары</p>
      </div>
      <div class="a">
        <%= image_tag "aad.svg" %>
        <p>Адыгейцы</p>
      </div>
      <div class="ya">
        <%= image_tag "yaa.svg" %>
        <p>Якуты</p>
      </div>
    </div>
    <div class="dos">
      <div class="ch">
        <%= image_tag "cca.svg" %>
        <p>Чуваши</p>
      </div>
      <div class="bb">
        <%= image_tag "bba.svg" %>
        <p>Башкиры</p>
      </div>
    </div>
  </div>
</section>
