<!DOCTYPE html>
<html>
  <head>
    <title>Playground</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if user_signed_in? && current_user.isadmin == true %>
        <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>


  <body>
    
      <%= react_component('O_Header', current_user: current_user) %>

      <div class="blackscreen hidden transition"></div>
<%= yield %>

    <%= react_component 'O_Footer' %>
  </body>
</html>
<script type="text/javascript">

  $(document).ready(function(){

    let move = document.getElementsByClassName('puppil_s');
    let move2 = document.getElementsByClassName('puppils');
    let move3 = document.getElementsByClassName('puppil');

    document.onmousemove = function(){

      let x = event.clientX * 80 / window.innerWidth + '%';
      let y = event.clientY * 40 / window.innerHeight + '%';

      for(let i=0; i<2; i++){
        move2[i].style.left = x;
        move2[i].style.top = y;
        move2[i].style.transform = 'translate(-'+x+',(-'+y+' - 0px))';
      };

      let move4 = document.getElementsByClassName('puppilll');

      if ($(move4).length ){
        document.onmousemove = function(){

          let x = event.clientX * 80 / window.innerWidth + '%';
          let y = event.clientY * 40 / window.innerHeight + '%';

          for(let i=0; i<2; i++){
            move2[i].style.left = x;
            move2[i].style.top = y;
            move2[i].style.transform = 'translate(-'+x+',(-'+y+' - 0px))';
          };

          for(let i=0; i<2; i++){
            move4[i].style.left = x;
            move4[i].style.top = y;
            move4[i].style.transform = 'translate(-'+x+',(-'+y+' - 0px))';
          };
        };
      } else {
        for(let i=0; i<2; i++){
          move[i].style.left = x;
          move[i].style.top = y;
          move[i].style.transform = 'translate(-'+x+',(-'+y+' - 0px))';
        };
        for(let i=0; i<2; i++){
          move3[i].style.left = x;
          move3[i].style.top = y;
          move3[i].style.transform = 'translate(-'+x+',(-'+y+' - 0px))';
        };
      }

    };


    $(".frst").click(function(){
      $(".scnd p, .thrd p").removeClass("active");
      $(".frst p").addClass("active");
      $(".password, .privacy").addClass("display");
      $(".subscribtion").removeClass("display")
    })
    $(".scnd").click(function(){
      $(".frst p, .thrd p").removeClass("active");
      $(".scnd p").addClass("active");
      $(".subscribtion, .privacy").addClass("display")
      $(".password").removeClass("display")
    })
    $(".thrd").click(function(){
      $(".frst p, .scnd p").removeClass("active");
      $(".thrd p").addClass("active");
      $(".subscribtion, .password").addClass("display")
      $(".privacy").removeClass("display")
    })

    $(".search, .blackscreen").click(function(){
      $(".left_links a, .blackscreen, .search_component").toggleClass("transition");
      setTimeout(function(){
        $(".left_links a, .search_component, .search, .blackscreen").toggleClass("hidden");
      }, 300);
    });


    $(".slidel").click(function(){
      $(".booksblock > div").css({
        'transform': 'translateX(-22.917vw)',
        'transition': 'all 0.4s ease'
      });
    })
    $(".slider").click(function(){
      $(".booksblock > div").css({
        'transform': 'translateX(0)',
        'transition': 'all 0.4s ease'
      });
    })


    let fontSize = parseInt($("body").css("font-size"));


    $(".plus").on("click", function(){
      fontSize = fontSize + 135 + "%";
      $(".skazka_container p").css({'font-size':fontSize})
    })

    $(".minus").on("click", function(){
      fontSize = fontSize - 80 + "%";
      $(".skazka_container p").css({'font-size':fontSize})
    })
    $(".textsettings").on("click", function(){
      $(".textedit").toggleClass('hidden')
    })
  });

</script>
